{% extends 'base.html.twig' %}

{% block title %}CategoriesService index{% endblock %}

{% block body %}
    <h1>CategoriesService index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Id_categorie_service</th>
                <th>Nom</th>
                <th>Ordre_affichage</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for categories_service in categories_services %}
            <tr>
                <td>{{ categories_service.id }}</td>
                <td>{{ categories_service.idCategorieService }}</td>
                <td>{{ categories_service.nom }}</td>
                <td>{{ categories_service.ordreAffichage }}</td>
                <td>
                    <a href="{{ path('app_categories_service_show', {'id': categories_service.id}) }}">show</a>
                    <a href="{{ path('app_categories_service_edit', {'id': categories_service.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_categories_service_new') }}">Create new</a>
{% endblock %}
