{% extends 'base.html.twig' %}

{% block title %}CategoriesPortfolio index{% endblock %}

{% block body %}
    <h1>CategoriesPortfolio index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Id_categorie_portfolio</th>
                <th>Nom</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for categories_portfolio in categories_portfolios %}
            <tr>
                <td>{{ categories_portfolio.id }}</td>
                <td>{{ categories_portfolio.idCategoriePortfolio }}</td>
                <td>{{ categories_portfolio.nom }}</td>
                <td>
                    <a href="{{ path('app_categories_portfolio_show', {'id': categories_portfolio.id}) }}">show</a>
                    <a href="{{ path('app_categories_portfolio_edit', {'id': categories_portfolio.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_categories_portfolio_new') }}">Create new</a>
{% endblock %}
