{% extends 'base.html.twig' %}

{% block title %}ConfigurationsSite index{% endblock %}

{% block body %}
    <h1>ConfigurationsSite index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Adresse_postale</th>
                <th>Telephone</th>
                <th>Email_contact</th>
                <th>Horaires_ouverture</th>
                <th>Url_page_facebook</th>
                <th>Url_page_instgram</th>
                <th>Url_prise_rdv_facebook</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for configurations_site in configurations_sites %}
            <tr>
                <td>{{ configurations_site.id }}</td>
                <td>{{ configurations_site.adressePostale }}</td>
                <td>{{ configurations_site.telephone }}</td>
                <td>{{ configurations_site.emailContact }}</td>
                <td>{{ configurations_site.horairesOuverture }}</td>
                <td>{{ configurations_site.urlPageFacebook }}</td>
                <td>{{ configurations_site.urlPageInstgram }}</td>
                <td>{{ configurations_site.urlPriseRdvFacebook }}</td>
                <td>
                    <a href="{{ path('app_configurations_site_show', {'id': configurations_site.id}) }}">show</a>
                    <a href="{{ path('app_configurations_site_edit', {'id': configurations_site.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_configurations_site_new') }}">Create new</a>
{% endblock %}
