{% extends 'base.html.twig' %}

{% block title %}ConfigurationsSite{% endblock %}

{% block body %}
    <h1>ConfigurationsSite</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ configurations_site.id }}</td>
            </tr>
            <tr>
                <th>Id_config</th>
                <td>{{ configurations_site.idConfig }}</td>
            </tr>
            <tr>
                <th>Adresse_postale</th>
                <td>{{ configurations_site.adressePostale }}</td>
            </tr>
            <tr>
                <th>Telephone</th>
                <td>{{ configurations_site.telephone }}</td>
            </tr>
            <tr>
                <th>Email_contact</th>
                <td>{{ configurations_site.emailContact }}</td>
            </tr>
            <tr>
                <th>Horaires_ouverture</th>
                <td>{{ configurations_site.horairesOuverture }}</td>
            </tr>
            <tr>
                <th>Url_page_facebook</th>
                <td>{{ configurations_site.urlPageFacebook }}</td>
            </tr>
            <tr>
                <th>Url_page_instgram</th>
                <td>{{ configurations_site.urlPageInstgram }}</td>
            </tr>
            <tr>
                <th>Url_prise_rdv_facebook</th>
                <td>{{ configurations_site.urlPriseRdvFacebook }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_configurations_site_index') }}">back to list</a>

    <a href="{{ path('app_configurations_site_edit', {'id': configurations_site.id}) }}">edit</a>

    {{ include('configurations_site/_delete_form.html.twig') }}
{% endblock %}
