{% extends 'base.html.twig' %}

{% block title %}Services index{% endblock %}

{% block body %}
    <h1>Services index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Id_service</th>
                <th>Nom</th>
                <th>Description</th>
                <th>Prix</th>
                <th>Duree_minutes</th>
                <th>Est_actif</th>
                <th>Id_categorie_service_fk</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for service in services %}
            <tr>
                <td>{{ service.id }}</td>
                <td>{{ service.idService }}</td>
                <td>{{ service.nom }}</td>
                <td>{{ service.description }}</td>
                <td>{{ service.prix }}</td>
                <td>{{ service.dureeMinutes }}</td>
                <td>{{ service.estActif ? 'Yes' : 'No' }}</td>
                <td>{{ service.idCategorieServiceFk }}</td>
                <td>
                    <a href="{{ path('app_services_show', {'id': service.id}) }}">show</a>
                    <a href="{{ path('app_services_edit', {'id': service.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_services_new') }}">Create new</a>
{% endblock %}
