<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>

             {# --- AJOUT DES NOUVELLES POLICES --- #}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap" rel="stylesheet">
	 <link href="https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap" rel="stylesheet">
             {# --- FIN DE L'AJOUT --- #}

		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		{# <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
		<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>"> #}
		{% block stylesheets %}
			<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
			<link rel="stylesheet" href="{{ asset('app.css') }}">
			<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@5.1.3/dist/united/bootstrap.min.css">
			<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@5.1.3/dist/united/_variables.css">
			<link rel="stylesheet" href="/style.css">
		{% endblock %}

		{% block javascripts %}
			{% block importmap %}
				{{ importmap('app') }}
			{% endblock %}
			<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
		{% endblock %}
	</head>

	<body>
		{# <nav class="navbar navbar-expand-lg navbar-dark bg-dark"> #}
		<nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
			<div
				class="container-fluid">
				{# MODIFICATION 1 : Le logo pointe vers la page d'accueil #}
				<a class="navbar-brand" href="{{ path('app_home') }}">Accueil</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarNav">
					<ul class="navbar-nav me-auto">
						<li class="nav-item">
							<a class="nav-link" href="{{ path('app_categorie_index') }}">Catégories</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{{ path('app_portfolio_index') }}">Portfolio</a>
						</li>
						
					</ul>


					{# MODIFICATION 2 : Ajout des liens Connexion / Déconnexion #}
					<ul class="navbar-nav">
						{% if app.user %}
							<li class="nav-item">
								<a class="nav-link" href="{{ path('app_logout') }}">Déconnexion</a>
							</li>
						{% else %}
							<li class="nav-item">
								<a class="nav-link" href="{{ path('app_login') }}">Connexion</a>
							</li>
						{% endif %}
					</ul>
				</div>
			</div>
		</nav>

		<div class="container mt-4"> {% block body %}{% endblock %}
			</div>

			{# REMPLACEZ L'ANCIEN FOOTER PAR CETTE LIGNE #}
			{% include '@partials/footer.html.twig' %}
		</body>
	</html>
