{% extends 'base.html.twig' %}

{% block title %}PortfolioItems{% endblock %}

{% block body %}
    <h1>PortfolioItems</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ portfolio_item.id }}</td>
            </tr>
            <tr>
                <th>Id_item</th>
                <td>{{ portfolio_item.idItem }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ portfolio_item.titre }}</td>
            </tr>
            <tr>
                <th>Type_media</th>
                <td>{{ portfolio_item.typeMedia }}</td>
            </tr>
            <tr>
                <th>Url_fichier</th>
                <td>{{ portfolio_item.urlFichier }}</td>
            </tr>
            <tr>
                <th>Date_ajout</th>
                <td>{{ portfolio_item.dateAjout ? portfolio_item.dateAjout|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Id_categorie_portfolio_fk</th>
                <td>{{ portfolio_item.idCategoriePortfolioFk }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_portfolio_items_index') }}">back to list</a>

    <a href="{{ path('app_portfolio_items_edit', {'id': portfolio_item.id}) }}">edit</a>

    {{ include('portfolio_items/_delete_form.html.twig') }}
{% endblock %}
